/*
class => pode ser repetida em mais de uma tag (.)
id => é único, não pode ser repetido (#)

cascata => quanto mais específico o caminho até chegar na tag
           maior preferência vai ter na adoção do estilo

Unidades de tamanho:
    rem => se refere ao :root
        => então se :root diz font-size: 62.5% 
        (como 16px é o padrão, 16*62.5% = 10px)
        => 1rem = 10px; 1.5rem = 15px
    
    em => se refere ao elemento pai

    % => é a porcentagem em relação ao elemento-pai
      => se o pai tem 500px, e o filho tem width: 50% (= 250px)
    
    vh / vw => viewport height e width (tamanho da janela do browser)


*/


.inserirCSS {
    background-color: red;
}

/* Configuração para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*
        As propriedades de largura (width) e 
        de altura (height) incluem o tamanho 
        padding size e a propriedade border, 
        mas não incluem a propriedade margin.
    */
}

/* 
    Representa a raiz
*/
:root {
    /* Variáveis em CSS */

    --bg-primary: #F8FFE5;
    --bg-secondary: #7C8073;

    --text-primary: #040404;
    --text-secondary: #F8FFE5;

    /* font-size: 62.5%; */
    /*
        Por padrão, os browsers usam 16px.
        16px * 0.625 = 10px
        Agora em outros seletores, caso eu deseje aplicar
        20px => 2rem
        15px => 1.5rem
    */
}

html, body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}

header nav a{
    text-decoration: none;
}

/* vw e vh indicam width e height da viewport */
.container {
    width: 90vw;
    /* width: 90%; */ 
    margin: 0 auto; /* centraliza */ 
    position: relative; /* revisar */
}

.container header {
    /* margin-bottom: 20px; */
}

/* header nav { */
header nav.navbar {
    background-color: var(--bg-secondary);
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar a {
    /* Importancia da área de aumentar área de clique para usabilidade */
    padding: 10px; 
    color:  var(--text-secondary);

    /* 
        faz uma transição de acordo com o tempo definido,
        além de all tem outras especificações que podem ser usadas
    */
    transition: 0.4s all;
}

.navbar a:hover {
    color:  var(--text-primary);
    text-decoration: underline;
}

.container h1 {
    text-align: center;
    margin: 40px auto;
    margin: 40px auto 20px;
}

/*
inline => não permite setar height nem width; 
          o height/width são determinados pelo espaço do texto
block => permite; caso não seja setado, o width assume 100%
         e altura fica do texto necessário
inlin-block => assume as duas caracteristicas: pode setar height e width, 
            mas mantem comportamento inline
*/

#paragrafo .displayParagrafos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 30px;
}
#paragrafo .espacamento {
    background-color: gray;
}
#paragrafo .espacamento p {
    padding: 10px;
    margin: 20px;
}

#imagens .imagem1{
    /* border-radius: 50%; */
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

#formulario form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formulario form #enviarBtn{
    padding: 10px;
}

#formulario .forms-flex {
    min-width: 800px;
    display: flex;
    justify-content: space-around;
}

.container footer {
    margin-top: 40px;
}