.usuario {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

#status {
    width: 100px;
    text-align: center;
    border: 1px solid black;
    /* background-color: #ccc; */
    padding: 10px;
    margin-left: 15px;
}

.usuario button {
    width: 100px;
    padding: 10px;
}

.ativo {
    color: white;
    background-color:green;
}